{

  "extends": [
    "stylelint-config-recommended",
    "stylelint-config-styled-components"
  ],
  "customSyntax": "@stylelint/postcss-css-in-js",
  "ignoreFiles": ["packages/**/*.spec.{js,ts,tsx}", "packages/**/dist/**"]

}
